body {
  background: white;
  background-attachment: fixed;
  background-repeat: repeat;
}
p {
  color: black;
  text-align: justify;
  font-size: 20px;
  font-style: italic;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 3px black;
  border-radius: 10px;
  box-shadow: 4px 4px 7px grey;
}
h2 {
  color: #45a5d4;
  text-align: left;
  font-size: 1.5em;
}
li {
  color: rgb(17, 24, 38);
  text-align: justify;
  font-size: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  border: solid grey 1px;
  padding: 5px;
  margin: 5px;
  width: auto;
}
a {
  text-decoration: underline;
}
img {
    border-radius: 10px;
}
